<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352472168204-na0gii4ummkvqf83iqfq7ro7i6u16unh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352472168204-na0gii4ummkvqf83iqfq7ro7i6u16unh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352472168204-g13e2jh03rk2a2foihmosd10rcukishv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJJ8KsgKvqA3Xr0f_VBVw_IhHvguJBud0</string>
	<key>GCM_SENDER_ID</key>
	<string>352472168204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.smadmag.skillbiz</string>
	<key>PROJECT_ID</key>
	<string>smadmag-7af64</string>
	<key>STORAGE_BUCKET</key>
	<string>smadmag-7af64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352472168204:ios:fb5c5172109d2b7f86bb29</string>
	<key>DATABASE_URL</key>
	<string>https://smadmag-7af64.firebaseio.com</string>
</dict>
</plist>