<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content *ngIf="showMenu">
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item  [routerLink]="'favouriteads'">
              <ion-icon slot="start" [name]="'heart'" style = "color: green;" size = "large"></ion-icon>
              <ion-label>
                Favourite Ads
              </ion-label>
            </ion-item>
            <ion-item  [routerLink]="'myads'">
              <ion-icon slot="start" [name]="'heart'" style = "color: green;" size = "large"></ion-icon>
              <ion-label>
                My Ads
              </ion-label>
            </ion-item>
            <ion-item  [routerLink]="'clickwallet'">
              <ion-icon slot="start" [name]="'heart'" style = "color: green;" size = "large"></ion-icon>
              <ion-label>
                Click Wallet
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="'cmtransactions'">
              <ion-icon slot="start" [name]="'heart'" style = "color: green;" size = "large"></ion-icon>
              <ion-label>
                SMAD Cash Wallet
              </ion-label>
            </ion-item>
            <ion-item  [routerLink]="'notifications'">
              <ion-icon slot="start" [name]="'share'"></ion-icon>
              <ion-label>
                Notifications
              </ion-label>
            </ion-item>
            <ion-item  [routerLink]="'socialshare'">
              <ion-icon slot="start" [name]="'share'"></ion-icon>
              <ion-label>
                Refer & Earn
              </ion-label>
            </ion-item>
            <ion-item  (click)="navigatetoenqpage()">
              <ion-icon slot="start" [name]="'heart'" style = "color: green;" size = "large"></ion-icon>
              <ion-label>
                Contact Us
              </ion-label>
            </ion-item>
            <ion-item  [routerLink]="'guidemenu'">
              <!-- <ion-icon slot="start" [name]="'share'"></ion-icon> -->
              <div item-left class="aboutuslogo">
                <img src="assets/images/CashMash-AppLogo.png">
              </div>
              <ion-label>
                SMAD Mag Help
              </ion-label>
            </ion-item>
            <ion-item (click)="logout()" routerDirection="root" lines="none" detail="false">
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>