// .pause{
//     float: right;
//     position: absolute;
//     text-align: center;
//     right: 4%;
//     top: 30%;
//     z-index: 1000;
//     background-color: red;
//     padding: 5px;
//     color: #FFFFFF;
//     font-weight: bold;
//     width: 25%;
// }
// .stageoff{
//     color:grey
// }
// .stageon{
//     color:var(--ion-color-secondary);
// }

ion-thumbnail {
    height: inherit;
}

.logo{
    height: 10%;
    width: 10%;
    }
